<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.schibsted.onepunch.polldemo.infrastructure.repository.jdbc.mapper.PollMapper'>

    <resultMap id='PollResultMap' type="com.schibsted.onepunch.polldemo.domain.poll.Poll">
        <constructor>
            <idArg column="id" javaType="string" />
            <arg column="subject" javaType="string" />
            <arg column="creation_time" javaType="java.time.LocalDateTime" />
            <arg column="active" javaType="boolean" />
        </constructor>
    </resultMap>

    <insert id="insert">
        INSERT INTO poll (id, subject, creation_time, active)
        VALUES (#{poll.id}, #{poll.subject}, #{poll.creationTime}, #{poll.active});
    </insert>

</mapper>